.gialog_user {
	width: 50vw;
}

.dialog-user-header {
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
}

.dialog-user-grid {
	grid-template-columns: 1fr 1fr 1fr;
}


#dialog_user_asso_button {
	padding: var(--quarter-rem);
	border-radius: var(--half-rem);
	cursor: pointer;
}