.g_dialog {
	padding: var(--half-rem);
	background: white;
	border: 1px solid var(--navbar-link-color);
	border-radius: var(--quarter-rem);
	margin-inline: auto;
	margin-block-start: calc(var(--full-half-rem) * 3);
}
.g_dialog::backdrop {
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(calc(var(--quarter-rem) / 4));
}

.gialog_user {
	width: 50vw;
}

.dialog-user-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	margin-block-end: var(--half-rem);
    color: var(--navbar-link-hover-color);
}

/*#title > p {
	font-style: italic;
}*/

.dialog-user-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.dialog-user-grid > p {
    font-style: italic;
    margin-block-end: var(--half-rem);
}

.dialog-user-form-element input {
	display: block;
	padding: var(--quarter-rem);
	margin-inline: auto;
}
.dialog-user-form-element select {
	display: block;
	padding: var(--quarter-rem);
	margin-inline: auto;
}

.dialog-edit, .dialog-save, .dialog-close, .dialog-create {
	color: var(--color-lego-yellow-secondary);
	font-size: var(--full-quarter-rem);
	font-weight: bold;
  }
  .dialog-edit {
	justify-self: flex-start;
  }
  .dialog-save {
	/*visibility: hidden;*/
	justify-self: center;
  }
  .dialog-close {
	justify-self: flex-end;
  }
  .dialog-print {
	font-size: var(--full-quarter-rem);
	cursor: pointer;
}

.dialog-edit:hover,
.dialog-edit:focus,
.dialog-save:hover,
.dialog-save:focus,
.dialog-close:hover,
.dialog-close:focus,
.dialog-create:hover,
.dialog-create:focus {
	color:var(--color-lego-red);
	cursor: pointer;
}

#dialog_user_asso_button {
	cursor: pointer;
}