.dialog-login-header {
	justify-content: center;
}

.dialog-login-grid {
	gap: var(--half-rem);
}

.dialog-login-form-element input {
	width: 100%;
}

.dialog-form-button {
	padding: var(--quarter-rem);
	margin-block-start: var(--half-rem);
	border-radius: var(--half-rem);
	cursor: pointer;
}
.dialog-form-button:hover {
	background-color: var(--color-navbar-background);
	color: #ffffff;
}