.dialog-login-grid {
	gap: var(--half-rem);
}

.dialog-login-form-element input {
	width: 100%;
}

.dialog-form-button {
	width: 100%;
	padding: var(--quarter-rem);
	margin-block-start: var(--half-rem);
	border-radius: var(--half-rem);
	cursor: pointer;
}
.dialog-form-button:hover {
	background-color: var(--color-navbar-background);
	color: #ffffff;
}

.dialog-login-error {
	display: none;
	font-size: var(--half_rem);
	font-weight: 700;
	color: var(--color-inactive-user);
}
.dialog-login-error-show {
	display: block;
}