.g_dialog {
	padding: var(--half-rem);
	background: white;
	border-radius: var(--quarter-rem);
	margin-inline: auto;
	margin-block-start: calc(var(--full-half-rem) * 3);
	width: 50vw;
}
.g_dialog::backdrop {
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(calc(var(--quarter-rem) / 4));
}

.modal-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	margin-block-end: var(--half-rem);
    color: var(--navbar-link-hover-color);
}

/*#title > p {
	font-style: italic;
}*/

.modal-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.modal-grid > p {
    font-style: italic;
    margin-block-end: var(--half-rem);
}

.modal-form-element input {
	display: block;
	padding: var(--quarter-rem);
	margin-inline: auto;
}
.modal-form-element select {
	display: block;
	padding: var(--quarter-rem);
	margin-inline: auto;
}

.modal-edit, .modal-save, .modal-close, .modal-create {
	color: var(--color-lego-yellow-secondary);
	font-size: var(--full-quarter-rem);
	font-weight: bold;
  }
  .modal-edit {
	justify-self: flex-start;
  }
  .modal-save {
	/*visibility: hidden;*/
	justify-self: center;
  }
  .modal-close {
	justify-self: flex-end;
  }
  .modal-print {
	font-size: var(--full-quarter-rem);
	cursor: pointer;
}

.modal-edit:hover,
.modal-edit:focus,
.modal-save:hover,
.modal-save:focus,
.modal-close:hover,
.modal-close:focus,
.modal-create:hover,
.modal-create:focus {
	color:var(--color-lego-red);
	cursor: pointer;
}