header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-navbar-background);
  padding: var(--half-rem) var(--full-rem);
  margin-bottom: var(--half-rem);
  border-bottom-left-radius: var( --navbar-corner-radius);
  border-bottom-right-radius: var( --navbar-corner-radius);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-logo {
  margin: 0;
  height: calc(var(--navbar-height) * .75);
  cursor: pointer;
}

.nav-links li {
  display: inline-block;
}

.navbar-link {
  margin: 0;
  padding: var(--full-rem) var(--half-rem);
  font-weight: 600;
  font-size: .875rem;
  cursor: pointer;
}
/*.navbar-link:hover {
  color: var(--navbar-link-hover-color);
}*/
.nav-links li:nth-last-child(2) .navbar-link {
  padding-right: 0px;
}

.nav-button {
  border-radius: var(--full-rem);
  padding-inline: var(--full-rem);
  padding-block: var(--quarter-rem);
  margin-inline-start: calc(var(--full-rem) * 4);
}
/*.nav-links li:last-child .navbar-link.nav-button:hover {
  color: var(--color-navbar-background);
  background-color: var(--color-nav-button-hover);
}*/

.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  display: none;
  padding-inline: var(--full-rem);
  padding-top: var(--full-rem);
  padding-bottom: var(--half-rem);
  border-bottom-left-radius: var( --navbar-corner-radius);
  border-bottom-right-radius: var( --navbar-corner-radius);
}

.navbar-link:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}
/*.dropdown-menu:hover {
  display: block;
}*/


/*nav {
  visibility: hidden;
  background-color: var(--color-navbar-background);
  padding: var(--half-rem) var(--full-rem);
  border-bottom-left-radius: var( --navbar-corner-radius);
  border-bottom-right-radius: var( --navbar-corner-radius);
  margin-bottom: var(--half-rem);
*/
  /* Makes the narbar 'sticky' when it's top value is 0 */
/*  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
*/
/*.menu > [type="checkbox"] {*/
  /*
    [attribute^=value]
    This will target every element who's <attribute> starts with the <value>
    In this use case we are targeting any element who's 'id' starts with 'drop'.

    div[attribute^=value]
    This will target every <div>element who's <attribute> starts with the <value>
  */
/*  display: none;
}

.logo {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-logo {
  margin: 0;
  height: calc(var(--navbar-height) * .75);
  cursor: pointer;
}

.menu-items > li {
  margin: 0;
  padding: var(--half-rem) var(--quarter-rem);
  display: block;
  font-weight: 600;
  font-size: .875rem;
  cursor: pointer;
}
.menu-items > li a{
  color: var(--navbar-link-color);
}
.menu-items > li a:hover{
  color: var(--navbar-link-hover-color);
}

.menu-items > li:hover ul {
  display: table;
}

.submenu {
  display: none;
  position: relative;
}
*/
/****************
Mobile Menu
****************/
/*.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}
.menu-items {
  order: 3;
  width: 100%;
  display: none;
}
.menu-items > li {
  width: 100%;
  text-align: end;
}

#bars-menu {
  cursor: pointer;
}
#bars-menu:hover>.bars,
#bars-menu:hover>.bars::before,
#bars-menu:hover>.bars::after {
  background: var(--navbar-link-hover-color);
}
.bars {
  position: relative;
  top: calc(-1 * var(--quarter-rem));
}
.bars,
.bars::before,
.bars::after {
  background: var(--navbar-link-color);
  display: inline-block;
  border-radius: calc(var(--navbar-corner-radius) / 5);
  height: var(--quarter-rem);
  width: var(--full-half-rem);
}
.bars::before,
.bars::after {
  position: absolute;
  content: "";
}
.bars::before {
  top: var(--half-rem);
}
.bars::after {
  top: calc(-1 * var(--half-rem));
}

.drop-menu:checked ~ .menu-items {
  display: block;
}*/


/****************
  Tablet/Desktop Menu
****************/
/*@media all and (min-width: 740px) {
  .menu {
    justify-content: space-between;
  }

  .nav-logo {
    margin: 0;
    flex: 1;
    order: 0;
  }

  .menu-items {
    display: block;
    width: auto;
  }
  .menu-items > li {
    display: inline-block;
    width: auto;
    padding: 0 var(--half-rem);
  }
  .menu-items > li:last-child() {
    padding-right: 0px;
  }

  .toggle {
    display: none;
  }
}*/