<style>
	.grid-container-ks {
		grid-template-columns: 1fr 1fr;
		gap: var(--full-rem);
		align-items: self-start;
	}

	p {
		font-size: var(--three-quarter-rem);
	}

	.display-scan-data {
		font-size: var(--three-quarter-rem);
		padding: 0px;
		padding-block-start: var(--quarter-rem);
	}

	.inner-columns {
		display: flex;
		flex-direction: row;
		padding: var(--quarter-rem);
		column-gap: var(--full-rem);
	}
	.inner-columns-borders {
		border: var(--quarter-rem) double #000000;
		border-radius: var(--half-rem);
		padding: var(--quarter-rem);
	}

	.input-styling {
		border: none;
		border-bottom: thin solid #000000;
		background: transparent;
	}

	label {
		font-size: var(--three-quarter-rem);
		font-weight: bold;
	}

	button {
		margin-inline-start: var(--full-half-rem);
	}

	tr {
		cursor: default;
	}
	.tr-top-result {
		background-color: #ceffce;
	}
	.tr-results {
		background-color: #f0f0f0;
	}
	.tr-results-out {
		background-color: #ffdfdf;
	}
	.tr-clickable {
		background-color: #ceffce;
		cursor: pointer;
	}
	.tr-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.compare-container {
		margin-block: var(--quarter-rem);
	}

	.date-time {
		padding: 0;
	}
	.italicise {
		font-style: italic;
	}

	.search-results-column {
		margin-block-start: var(--full-half-rem);
	}

	.vin-not-reg {
		font-weight: 700;
		color: #db0000;
	}
	.vin-reg-not-checkedin {
		font-weight: 700;
		color: #c49600;
	}
	.vin-found {
		font-weight: 700;
		color: #00af40;
	}

	/****************
		Desktop Virw
	****************/
	@media all and (min-width: 500px) {
		
	}
</style>

	<div class="shell">
	<h2>Search VINs/Slots</h2>
	<div class="grid-container grid-container-ks">
		<div class="inner-columns-borders">
			<div>
				<h5>Search for VIN</h5>
				<label for="vinSearch">VIN:&nbsp;</label>
				<input class="input-styling" type="text" id="vinSearch" name="vinSearch">
				<p id="display-vin" class="display-scan-data"></p>
			
				<button id="clear-button" onclick="clearSearchVIN2()">Clear</button>
				<button id="search-button" onclick="searchVIN2()">Search</button>
			</div>

			<div id="vin-search-results-column" class="search-results-column">
				<div>
					<h5>Search Results</h5>
					<p id="vin-search-feedback"></p>
					<table id="vin-search-results-table">
						<thead>
							<tr>
								<th>Date/Time</th>
								<th>VIN(s)</th>
								<th>Location(s)</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="inner-columns-borders">
			<div>
				<h5>Search for Slot</h5>
				<label for="slotSearch">Slot:&nbsp;</label>
				<input class="input-styling" type="text" id="slotSearch" name="slotSearch">
				<p id="display-slot" class="display-scan-data"></p>
			
				<button id="clear-button" onclick="clearSlot2()">Clear</button>
				<button id="search-button" onclick="searchSlot()">Search</button>
			</div>
			<div id="slot-search-results-column" class="search-results-column">
				<div>
					<h5>Search Results</h5>
					<p id="slot-search-feedback"></p>
					<table id="slot-search-results-table">
						<thead>
							<tr>
								<th>Date/Time</th>
								<th>VIN(s)</th>
								<th>Location(s)</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>