# ignore ALL .log files
*.log
# ignore ALL .sql files
*.sql
# ignore ALL .config files
*.config

# ignore ALL files in ANY directory named SQL
SQL/
# ignore ALL files in ANY directory named aspnet_client
aspnet_client/
