<header class="dialog-header dialog-user-header">
	<div id="title">
		<h3 id="dialog-user-no-results"></h3>
		<h2>Add User</h2>
	</div>
	<div class="dialog-save invisible" onclick="addUser()">
		<i class="far fa-save"></i>
	</div>
	<div class="dialog-close" onclick="closeDialogUser()">
		<i class="far fa-window-close"></i>
	</div>
</header>
<div class="dialog-grid dialog-user-grid dialog-grid-gap">
	<p class="fullwidth">all fields required</p>
	<div class="dialog-form-element">
		<input type="text" id="dialog_user_first_name" name="dialog_user_first_name" placeholder="First Name">
	</div>
	<div class="dialog-form-element">
		<input type="text" id="dialog_user_last_name" name="dialog_user_last_name" placeholder="Last Name">
	</div>
	<div class="dialog-form-element">
		<select name="dialog_user_company" id="dialog_user_company"></select>
	</div>
</div>