<header class="dialog-header">
	<div id="title">
		<h2>Bulk Add User</h2>
</header>
<div class="dialog-grid dialog-bulk-add-user-grid">
	<!-- <div class="dialog-form-element dialog-bulk-add-user-form-element">
		<input type="email" id="login_email" name="login_email" placeholder="Email">
	</div>
	<div class="dialog-form-element dialog-bulk-add-user-form-element">
		<input type="password" id="login_password" name="login_password" placeholder="Password">
	</div>
	<button id="dialog-form-button" class="dialog-form-button">Login</button> -->
	<p class="fullwidth">all fields required</p>
	<div class="dialog-form-element">
		<input type="text" id="dialog_user_first_name" name="dialog_user_first_name" placeholder="First Name">
	</div>
	<!-- <div class="dialog-form-element">
		<input type="text" id="dialog_user_last_name" name="dialog_user_last_name" placeholder="Last Name">
	</div> -->
	<div class="dialog-form-element">
		<select name="dialog_bulk_add_user_company" id="dialog_bulk_add_user_company"></select>
	</div>
</div>