<header class="dialog-header">
	<div id="title">
		<h2>Bulk Add User</h2>
</header>
<div class="dialog-grid dialog-grid-gap">
	<div class="dialog-form-element">
		<input type="file" id="dialog_bullk_add_user_file" name="dialog_bullk_add_user_file" placeholder="Select File" accept=".csv">
	</div>
	<div class="dialog-form-element">
		<select name="dialog_bulk_add_user_company" id="dialog_bulk_add_user_company"></select>
	</div>
	<button id="dialog-bulk-add-user-button" class="dialog-form-button button-disabled" disabled>Upload</button>
	<div id="upload-feedback"></div>
	<div id="upload-progress"></div>
</div>