<header class="dialog-header dialog-user-header">
	<div id="title">
		<h3 id="dialog-user-no-results"></h3>
		<h2>Associate</h2>
	</div>
	<div class="dialog-save invisible" onclick="addUser()">
		<i class="far fa-save"></i>
	</div>
	<div class="dialog-close" onclick="closeDialogUser()">
		<i class="far fa-window-close"></i>
	</div>
</header>
<div class="dialog-grid dialog-user-grid">
	<p class="fullwidth">all fields required</p>
	<div class="dialog-form-element">
		<input type="text" id="dialog_user_location_id" name="dialog_user_location_id" placeholder="Scan Location Id">
		<div class="dialog_user_feedback" id="dialog_user_location_id_feedback"></div>
	</div>
	<div class="dialog-form-element">
		<input class=" invisible" type="text" id="dialog_user_asso_items" name="dialog_user_asso_items" placeholder="Scan Item Ids">
		<div class="dialog_user_feedback invisible" id="dialog_user_asso_items_feedback"></div>
	</div>
	<div class="dialog-form-element">
		<button class="invisible" id="dialog_user_asso_button">Associate</button>
	</div>
</div>