<header class="dialog-header">
	<div id="title">
		<h2>Login</h2>
</header>
<div class="dialog-grid dialog-login-grid">
	<div class="dialog-form-element dialog-login-form-element">
		<input type="email" id="login_email" name="login_email" placeholder="Email">
	</div>
	<div class="dialog-form-element dialog-login-form-element">
		<input type="password" id="login_password" name="login_password" placeholder="Password">
	</div>
	<button id="dialog-form-button" class="dialog-form-button">Login</button>
</div>