<header class="dialog-header">
	<div id="title">
		<h2>Update Password</h2>
</header>
<div class="dialog-grid dialog-grid-gap" id="dialog-password-grid">
	<div class="dialog-form-element">
		<input type="password" id="update_password" name="update_password" placeholder="New Password">
	</div>
	<div class="dialog-form-element">
		<input type="password" id="update_password_conf" name="update_password_conf" placeholder="Confirm Password">
	</div>
	<p class="dialog-password-error" id="dialog-password-error"></p>
	<button id="dialog-form-button" class="dialog-form-button">Update</button>
</div>