<ul class="nav-links">
	<li>
		<div class="search-container">
			<form class="nav-search-form" method="POST" onsubmit="return userSearch(event)">
				<input id="nav-search-field" type="text" placeholder="User Search" name="nav-search-field">
				<div class="nav-search-button" onclick="userSearch(this)"><i class="fa fa-search"></i></div>
			</form>
		</div>
	</li>
	<li><button id="search-clear-button" onclick="clearUserSearch()">Clear</button></li>
	<li><a class="navbar-item navbar-link" onclick="loadPage('addUser', g_DIALOG)">Add User</a></li>
	<li class="navbar-item nav-item-divider">|</li>
	<li><a class="navbar-item navbar-link" onclick="loadPage('itemAssociation', g_DIALOG)">Item Association</a></li>
	<li class="navbar-item nav-item-divider">|</li>
	<li><a class="navbar-item navbar-link" onclick="generateReports()">Generate Reports</a></li>
</ul>